@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: url('HelveticaNeueCyr-Roman.ttf') format('truetype'),
       url('HelveticaNeueCyr-Roman.woff') format('woff'),
       url('HelveticaNeueCyr-Roman.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

